.Flex-container{ 
    display: flex;
background-color:rgb(56, 99, 192);
flex-direction: row;
flex-wrap: wrap;}


.Flex-container > div{
    background-color:rgb(175, 95, 25) ;
    margin: 10px;
    width: 100px;
    padding: 20px;
    line-height: 75px;
font-size: 30px;
text-align: center;
justify-content: space-evenly;
}


